<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Hill.otf</string>
		<string>Hill-Thin.otf</string>
		<string>Hill-Light.otf</string>
		<string>Hill-Heavy.otf</string>
		<string>Hill-DemiBold.otf</string>
		<string>Hill-Bold.otf</string>
	</array>
</dict>
</plist>
